body {
    background-color: beige;
    color: navy;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.gradient-title {
    background-image: linear-gradient(to right, navy, rgb(97, 120, 171), rgb(97, 120, 171));
    -webkit-background-clip: text;
    color: transparent;
    transition: font-size 0.3s ease;
    margin-bottom: 1rem;
    font-size: 2.7rem;
}

.hover {
    position: relative;
    color: grey;
}

.small .hover, footer .hover {
    position: relative;
    color: navy;
}

.hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgb(97, 120, 171);
    transition: width 0.3s ease, left 0.3s ease;
}

.hover:hover::before {
    width: 100%;
}

.hover:hover {
    color: rgb(97, 120, 171);
}

.container {
    width: 80%;
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    margin-bottom: 1.5em;
}

footer {
    margin-top: 0.5em;
}

@media only screen and (max-width: 430px) {
    header, footer {
        font-size: small;
    }

    main {
        font-size: x-small !important;
    }
}

@media only screen and (min-width: 620px) {
    .container {
        width: 65%;
    }

    .gradient-title {
        font-size: 65px;
    }

    .header .cut-size {
        width: 10% !important;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 55%;
    }
}

@media only screen and (min-width: 995px) {
    .container {
        width: 45%;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 35%;
    }
}

a {
    display: inline-block;
    text-decoration: none;
    color: navy;
}